<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:WsdlInterface" id="a87751f4-4d27-4680-ae44-8c5850822ff8" wsaVersion="NONE" name="basicHttpFardskrivarkortYtEndpoint" type="wsdl" bindingName="{http://TS.Fardskrivarkort.Schemas/1_0}basicHttpFardskrivarkortYtEndpoint" soapVersion="1_1" anonymous="optional" definition="http://ansfskyt-t.ia.tsnet.se/wcf/FardskrivarkortYt1_0.svc?wsdl" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="a87751f4-4d27-4680-ae44-8c5850822ff8fileName">basicHttpFardskrivarkortYtEndpoint</con:setting>
  </con:settings>
  <con:endpoints>
    <con:endpoint>http://ansfskyt-t.ia.tsnet.se/wcf/FardskrivarkortYt1_0.svc</con:endpoint>
  </con:endpoints>
</con:interface>
