<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="3c1c12bb-8409-4a9e-bbb5-40688e27039d" name="AUTO SC01 NF" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="3c1c12bb-8409-4a9e-bbb5-40688e27039dfileName">AUTO-SC01-NF</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
