<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:WsdlInterface" id="5671c770-ba3f-46b5-95fd-1065cb88a590" wsaVersion="NONE" name="basicHttpPersonaliseraEndpoint" type="wsdl" bindingName="{http://TS.Fardskrivarkort.Schemas/1_0}basicHttpPersonaliseraEndpoint" soapVersion="1_1" anonymous="optional" definition="http://ansfskyt-t.ia.tsnet.se/wcf/Personalisera1_0.svc?wsdl" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="5671c770-ba3f-46b5-95fd-1065cb88a590fileName">basicHttpPersonaliseraEndpoint</con:setting>
  </con:settings>
  <con:endpoints>
    <con:endpoint>http://ansfskyt-t.ia.tsnet.se/wcf/Personalisera1_0.svc</con:endpoint>
  </con:endpoints>
</con:interface>
